<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Bienvenido</h1>
    <p class="mb-4">Puedes usar el buscador de la tabla de resultados para poder filtrar por cualquier columna.</p>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="float: left;line-height: 40px;">Lista</h6>
        <button class="btn btn-primary" style="float: right;"><i class="fa fa-plus"></i> Agregar nueva</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        </div>
      </div>
    </div>
  </div>