<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">
    Mantenimiento Plan y Campaña Banca Seguro
  </h1>
  <p class="mb-4">
    Puedes usar el buscador de la tabla de resultados para poder filtrar por
    cualquier columna.
  </p>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        class="m-0 font-weight-bold text-primary"
        style="float: left; line-height: 40px"
      >
        Plan y Campaña Banca Seguro
      </h6>
      <button
        type="button"
        (click)="abrirModal(0)"
        class="btn btn-primary"
        style="float: right"
      >
        <i class="fa fa-plus"></i> Agregar
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-bordered"
          width="100%"
        >
          <thead>
            <tr>
              <th style="width: 40px; text-align: center">ID</th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Cod Empresa
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Programa
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Procedencia
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Plan Sap
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Campaña Sap
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Convenio Recaudador
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                BP Recaudador
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Convenio Unid. Venta
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                BP Unid. Vta
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Conv. Broker
              </th>

              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                BP Broker
              </th>
              <th
                style="
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Grupo vendedor
              </th>
              <th
                style="
                  width: 380px;
                  text-align: center;
                  white-space: nowrap !important;
                  vertical-align: middle !important;
                "
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody *ngIf="listaPlanes?.length != 0">
            <tr *ngFor="let plan of listaPlanes; let i = index">
              <td style="text-align: center">{{ i + 1 }}</td>
              <td>{{ plan.cod_empresa }}</td>
              <td>{{ plan.programa }}</td>
              <td>{{ plan.procedencia }}</td>
              <td>{{ plan.plan_sap }}</td>
              <td>{{ plan.campana_sap }}</td>
              <td>{{ plan.convenio_recaudador }}</td>
              <td>{{ plan.codigo_bp_recaudador }}</td>
              <td>{{ plan.convenio_unidad_venta }}</td>
              <td>{{ plan.codigo_bp_unidad_venta }}</td>
              <td>{{ plan.convenio_broker }}</td>
              <td>{{ plan.codigo_bp_broker }}</td>
              <td>{{ plan.gpo_vendedor }}</td>
              <td *ngIf="plan.estado == 1">
                <button
                  class="btn btn-primary"
                  (click)="
                    abrirModalActualizar(plan.procedencia, plan.cod_empresa)
                  "
                >
                  <i class="fa fa-edit"></i> Editar
                </button>
                <button
                  class="btn btn-danger"
                  (click)="
                    abrirModalDesactivar(plan.procedencia, plan.cod_empresa)
                  "
                >
                  <i class="fa fa-close"></i> Desactivar
                </button>
              </td>
              <td *ngIf="plan.estado == 0">
                <button
                  class="btn btn-primary"
                  (click)="
                    abrirModalActualizar(plan.procedencia, plan.cod_empresa)
                  "
                >
                  <i class="fa fa-edit"></i> Editar
                </button>
                <button
                  class="btn btn-success"
                  (click)="
                    abrirModalActivar(plan.procedencia, plan.cod_empresa)
                  "
                >
                  <i class="fa fa-check"></i> Activar
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="listaPlanes?.length == 0">
            <tr>
              <td colspan="8" class="no-data-available">
                <div class="alert alert-info">Buscando resultados...</div>
              </td>
            </tr>
          </tbody>

          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Add -->
<div
  class="modal fade"
  id="contentModalVendedor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contentModalVendedorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Agregar nuevo Plan y Campaña SAP
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="msjReponnseModal"></div>
        <form [formGroup]="registerPYCForm">
          <div class="alert alert-info">
            Se ingresa un nuevo Plan y Campaña para SAP.
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Cod Empresa</label>
            <input
              type="text"
              formControlName="cod_empresa"
              class="form-control"
              id="codEmpresaAdd"
              maxlength="2"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Programa</label>
            <input
              type="text"
              formControlName="programa"
              class="form-control"
              id="procedenciaAdd"
              mask="00"
              maxlength="2"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Procedencia</label>
            <input
              type="text"
              formControlName="procedencia"
              class="form-control"
              id="procedenciaAdd"
              mask="000"
              maxlength="3"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Plan Sap</label>
            <input
              type="text"
              formControlName="plan_sap"
              class="form-control"
              id="planSapAdd"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Campaña Sap</label>
            <input
              type="text"
              formControlName="campana_sap"
              class="form-control"
              id="campanaSapAdd"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Convenio Recaudador</label>
            <input
              type="text"
              formControlName="convenio_recaudador"
              class="form-control"
              id="convenio_recaudador"
              mask="00000000000"
              maxlength="10"
              (focusout)="
                format($event, registerPYCForm.get('convenio_recaudador'))
              "
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">BP Recaudador</label>
            <input
              type="text"
              formControlName="codigo_bp_recaudador"
              class="form-control"
              id="codigo_bp_unidad_venta"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Convenio Unid. Venta</label>
            <input
              type="text"
              formControlName="convenio_unidad_venta"
              class="form-control"
              id="convenio_unidad_venta"
              mask="00000000000"
              (focusout)="
                format($event, registerPYCForm.get('convenio_unidad_venta'))
              "
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">BP Unid. Vta</label>
            <input
              type="text"
              formControlName="codigo_bp_unidad_venta"
              class="form-control"
              id="codigo_bp_unidad_venta"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Conv. Broker</label>
            <input
              type="text"
              formControlName="convenio_broker"
              class="form-control"
              id="convenio_broker"
              (focusout)="
                format($event, registerPYCForm.get('convenio_broker'))
              "
              mask="00000000000"
              maxlength="10"
            />
          </div>

          <div class="form-group">
            <label for="descripcionUpdate">BP Broker</label>
            <input
              type="text"
              formControlName="codigo_bp_broker"
              class="form-control"
              id="codigo_bp_broker"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Grupo vendedor</label>
            <input
              type="text"
              formControlName="gpo_vendedor"
              class="form-control"
              id="gpo_vendedor"
              maxlength="3"
              (focusout)="formatGrupoV(registerPYCForm.get('gpo_vendedor'))"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          id="btnUserRegister"
          type="button"
          class="btn btn-primary"
          (click)="btnRegistrar()"
          [disabled]="registerPYCForm.invalid"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update -->
<div
  class="modal fade"
  id="contentModalActualizar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contentModalActualizarLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Actualizar Plan y Campaña SAP
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="msjReponnseModal"></div>
        <form [formGroup]="updatePYCForm">
          <div class="form-group">
            <label for="descripcionUpdate">Cod Empresa</label>
            <input
              type="text"
              formControlName="cod_empresa"
              class="form-control"
              id="codEmpresaAdd"
              maxlength="2"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Programa</label>
            <input
              type="text"
              formControlName="programa"
              class="form-control"
              id="procedenciaAdd"
              mask="00"
              maxlength="2"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Procedencia</label>
            <input
              type="text"
              formControlName="procedencia"
              class="form-control"
              id="procedenciaAdd"
              mask="00"
              maxlength="3"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Plan Sap</label>
            <input
              type="text"
              formControlName="plan_sap"
              class="form-control"
              id="planSapAdd"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Campaña Sap</label>
            <input
              type="text"
              formControlName="campana_sap"
              class="form-control"
              id="campanaSapAdd"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Convenio Recaudador</label>
            <input
              type="text"
              formControlName="convenio_recaudador"
              class="form-control"
              id="convenio_recaudador"
              mask="00000000000"
              maxlength="10"
              (focusout)="
                format($event, updatePYCForm.get('convenio_recaudador'))
              "
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">BP Recaudador</label>
            <input
              type="text"
              formControlName="codigo_bp_recaudador"
              class="form-control"
              id="codigo_bp_unidad_venta"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Convenio Unid. Venta</label>
            <input
              type="text"
              formControlName="convenio_unidad_venta"
              class="form-control"
              id="convenio_unidad_venta"
              mask="00000000000"
              maxlength="10"
              (focusout)="
                format($event, updatePYCForm.get('convenio_unidad_venta'))
              "
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">BP Unid. Vta</label>
            <input
              type="text"
              formControlName="codigo_bp_unidad_venta"
              class="form-control"
              id="codigo_bp_unidad_venta"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Conv. Broker</label>
            <input
              type="text"
              formControlName="convenio_broker"
              class="form-control"
              id="convenio_broker"
              mask="00000000000"
              maxlength="10"
              (focusout)="format($event, updatePYCForm.get('convenio_broker'))"
            />
          </div>

          <div class="form-group">
            <label for="descripcionUpdate">BP Broker</label>
            <input
              type="text"
              formControlName="codigo_bp_broker"
              class="form-control"
              id="codigo_bp_broker"
              mask="00000000000"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <label for="descripcionUpdate">Grupo vendedor</label>
            <input
              type="text"
              formControlName="gpo_vendedor"
              class="form-control"
              id="gpo_vendedor"
              maxlength="3"
              (focusout)="formatGrupoV(updatePYCForm.get('gpo_vendedor'))"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          id="btnActtionDataInfo"
          type="button"
          class="btn btn-primary"
          (click)="btnActualizar()"
        >
          <!-- [disabled]="updatePYCForm.invalid" -->
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
