<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <p style="text-align: center;">
                      <img src="/assets/img/unnamed.png" alt="AUNA" style="width: 250px;">
                    </p>
                    <h1 class="h4 text-gray-900 mb-4">Web Conversora - Portal</h1>
                  </div>
                  <br>
                  <div id="msjResponseValid"></div>
                  <form class="user"  (submit)="procesarLogin()" >
                    <div class="form-group">
                      <input type="email" id="txtEmailData" class="form-control form-control-user" [(ngModel)]="email" name="email" placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" id="txtpasswordData" class="form-control form-control-user"  [(ngModel)]="paswword" name="paswword" placeholder="Ingrese su contraseña">
                    </div>
                    <button id="btnLoadingData" type="submit" class="btn btn-primary btn-user btn-block">
                      Acceder
                    </button>
                  </form>
                  <br>
                  <hr>
                  <div class="text-center">
                    <a class="small"  routerLink="/recuperar-cuenta">¿Recuperar contraseña?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
